@model Lab3WebMvc.Models.Visitor

@{
    ViewData["Title"] = "Booking";
}

<h2>Booking</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<div class="container">
    <form asp-action="Booking" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="VisitorId" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TicketCount" class="control-label"></label>
            <input asp-for="TicketCount" class="form-control" />
            <span asp-validation-for="TicketCount" class="text-danger"></span>
        </div>

        <div>
            <input type="submit" value="Confirm">
        </div>
    </form>
</div>

