
@{
    ViewData["Title"] = "BookingSuccess";
}

<h2>BookingSuccess</h2>
<p class="text-danger">@ViewData["SuccessMessage"]</p>


<!--<input type="button" asp-action="index" value="Home" /> -->
<a asp-action="Index"> Home </a>
