
@{
    ViewData["Title"] = "BookingError";
}

<h2>Booking Error!</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>


<!--<input type="button" asp-action="index" value="Home" /> -->

<div>
    <form action="" method="get"></form>
</div>
<a asp-action="BookingSuccess"> Yes </a>
<a asp-action="Index"> No </a>

